* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

button {
    cursor: auto;
    margin: 0.5rem;
}

.active {
    display: block;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;


}

.container {
    width: 80%;
    margin: auto;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

header {
    text-align: center;
    padding: 1rem;
    background-color: lightgray;
}

main {
    padding: 1rem;
}

button {
    background-color: rgb(68, 151, 223);
    width: 100%;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 1rem;
}

p {
    width: 100%;
    padding: 1rem;
    margin: 0;
}

.nothing {
    text-align: center;
}